<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>ReplaceToner</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/printers.css' %}">
  </head>

  <main>
    <div class="page-header">
      <a href="{% url 'main_view' %}" class="top-menu"></a>
      <h1><strong><a href="">replaceTONER</a></strong></h1>
      <h3>Požadavek na výměnu toneru v tiskárně</h3>
    </div>

    <div class="main-content">
      <h4>Prosím, zvolte následující údaje a stiskněte tlačítko Odeslat požadavek.</h4>
      <br>
        <form method="POST" action="{% url 'subscribe' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit-btn" class="save btn btn-default btn-lg btn-primary" value="Odeslat požadavek">
      </form>
      <br>
    </div>

  <footer>
    <p>
      <h5><a href="">ReplaceToner</a> © 2020 ELS | Powered by <a href="https://www.python.org/">Python 3.8.1</a> and <a href="https://en.wikipedia.org/wiki/Django_(web_framework)" class="external_link" id="link_to_wiki_page">Django 3.0.2</a></h5>
    </p>
  </footer>
</html>
